<div class="container">
	<div class="row">
		
		<h1>Which one do you wanna try?</h1>

		<div class="col-md-6">
			<a href="http://localhost:3000/clientform"><button class="btn btn-lg btn-success" value="Client-side">Cleint-Side</button></a>
		</div>
		<div class="col-md-6">
			<a href="http://localhost:3000/serverform"><button class="btn btn-lg btn-primary" value="Server-Side">Server-Side</button></a>
		</div>
	</div>
</div>