<% layout('boilerPlate') -%>
<div class="row">hello <%= user.username %></div>
<div class="row">Your first name is <%= user.firstname %></div>
<div class="row">
your hashed password is <%= user.password %></div>

