<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
    </head>
    <body>
        <h2>This is a {{pageTitle}}</h2>
        <p>Enter some text here!!</p>
        <p>The current year is {{currentYear}}</p>

        <footer>
            <p>copyright 2016</p>
        </footer>
    </body>
</html>