<!DOCTYPE html>
<html>
    <head>
        <title>Website name</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>{{welcomeMsg}}</p>
    </body>
    <footer>
        <p>Copyright @{{currentYear}}</p>
    </footer>
</html>